
@*@{
    ViewData["Title"] = "Order";
}

<h2>Index</h2>*@

@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
@*<form method="post" asp-action="Create" asp-route-orderId="">
    <input type="submit" value="Create New" />
</form>*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Customer @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Group.Discount) (%)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount) Amount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Group.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-orderId="@item.Id">Edit</a> |
                <a asp-action="Payment" asp-route-orderId="@item.Id">Payment</a> |
                <a asp-action="Delete" asp-route-orderId="@item.Id">Delete</a>
            </td>
        </tr>

        }
    </tbody>
</table>  